@font-face {
    font-family: "Kenyan Coffee";
    src: url("../webfonts/kenyc.ttf");
}

@media (min-width: 1500px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1440px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

input, select, textarea, button{font-family:inherit;}

#playerPlaceholder {
    width: 640px;
    height: 422px;
    border: dashed lightgray;
    border-radius: 5%;
    padding-top: 192px;
}

#closePlayer {
    font-size: 18pt;
    color: black;
}

.searchResultChannel, .videoListCardChannel {
    font-style: italic;
}

.searchResultDescription, .videoListCardDescription {
    font-size: small;
}

.searchResult {
    cursor: pointer;
}

.searchResult, .videoListCard {
    height: 126px;
}

.searchResultTextContainer, .videoListCardTextContainer {
    height: 101px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.absoluteCenter {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: gray;
    font-size: small;
}

.videoListCardMoveUp {
    margin-top: 21px;
    margin-bottom: 11px
}

.videoListCardMoveUp, .videoListCardMoveDown {
    text-align: center;
    font-size: small;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #6c757d;
    color: #6c757d;
    cursor: pointer;
}

.videoListCardMoveUp:hover, .videoListCardMoveDown:hover {
    background-color: #6c757d;
    color: white;
}

.videoListCardMoveUp i, .videoListCardMoveDown i {
    margin-top: 5px
}

.videoListCardDelete {
    margin-left: -15px
}

.videoListCardThumbnail {
    margin-top: 5px;
}
