@font-face {
    font-family: "Kenyan Coffee";
    src: url("../webfonts/kenyc.ttf");
}

body {
    font-family: "Open Sans", sans-serif;
}

input, select, textarea, button{font-family:inherit;}

.searchResultChannel {
    font-style: italic;
}

.searchResultDescription {
    font-size: small;
}

.searchResult {
    height: 126px;
    cursor: pointer;
}

.searchResultTextContainer {
    height: 101px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageCenter {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
